<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Caption Generator</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% block css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}
</head>
<body style="margin : 0px;">
<div class="jss95" style="background-image: url({% static 'images/bgv3.jpg' %}); opacity:0.9">
    <div class="jss1">
        <div class="MuiGrid-root jss98  MuiGrid-container">
            <div class="MuiGrid-root jss99  MuiGrid-item">
                <div class="jss2">
                    <h4 class="jss3 display-4 font-weight-bold" align="center" style="color:black;">IMAGE CAPTION GENERATOR</h4>
                    <br>
                </div>
                <div class="jss2">
                    <form action="/" method="post" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    <div class="fieldWrapper" style="color:black;font-family:'Times New Roman';">
                        {{ form.image.errors }}
                        <label for="{{ form.image.id_for_label }}">Upload Image:</label>
                        {{ form.image }}
                    </div>
                    <br>
                    <br>
                    <button type="submit" class="btn btn-dark" style="color: white; font-face: bold;"> PREDICT CAPTION</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>